# finalizing master csv

#### making a copy to try it on that before actually doing it

In [2]:
import pandas as pd
import numpy as np

In [56]:
CityMaster = pd.read_csv("CityMaster_1.1.csv", converters={'FIPS': str})

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_35247/139697275.py:1: DtypeWarning: Columns (2,3,28,35,36,37,46,51,52,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  CityMaster = pd.read_csv("CityMaster_1.1.csv", converters={'FIPS': str})

In [57]:
CityMaster = CityMaster.drop(columns=["party", "totalvotes"])

In [58]:
CityMaster = CityMaster.groupby("FIPS", as_index=False).max()

In [59]:
CityMaster = CityMaster[(CityMaster["FIPS"].apply(len) == 5)| (CityMaster["City_Pop"]>=65_000)]
CityMaster.shape

(3826, 75)

In [72]:
poli = pd.read_csv("poli_reformed2.csv", converters={'FIPS': str})

In [76]:
poli

      Unnamed: 0   FIPS  PresW_2012  PresW_2016  PresW_2020
0              0  01001  REPUBLICAN  REPUBLICAN  REPUBLICAN
1              1  01003  REPUBLICAN  REPUBLICAN  REPUBLICAN
2              2  01005    DEMOCRAT  REPUBLICAN  REPUBLICAN
3              3  01007  REPUBLICAN  REPUBLICAN  REPUBLICAN
4              4  01009  REPUBLICAN  REPUBLICAN  REPUBLICAN
...          ...    ...         ...         ...         ...
3151        3151  56037  REPUBLICAN  REPUBLICAN  REPUBLICAN
3152        3152  56039    DEMOCRAT    DEMOCRAT    DEMOCRAT
3153        3153  56041  REPUBLICAN  REPUBLICAN  REPUBLICAN
3154        3154  56043  REPUBLICAN  REPUBLICAN  REPUBLICAN
3155        3155  56045  REPUBLICAN  REPUBLICAN  REPUBLICAN

[3156 rows x 5 columns]

In [78]:
poli =poli.drop(columns={"Unnamed: 0"})
poli

       FIPS  PresW_2012  PresW_2016  PresW_2020
0     01001  REPUBLICAN  REPUBLICAN  REPUBLICAN
1     01003  REPUBLICAN  REPUBLICAN  REPUBLICAN
2     01005    DEMOCRAT  REPUBLICAN  REPUBLICAN
3     01007  REPUBLICAN  REPUBLICAN  REPUBLICAN
4     01009  REPUBLICAN  REPUBLICAN  REPUBLICAN
...     ...         ...         ...         ...
3151  56037  REPUBLICAN  REPUBLICAN  REPUBLICAN
3152  56039    DEMOCRAT    DEMOCRAT    DEMOCRAT
3153  56041  REPUBLICAN  REPUBLICAN  REPUBLICAN
3154  56043  REPUBLICAN  REPUBLICAN  REPUBLICAN
3155  56045  REPUBLICAN  REPUBLICAN  REPUBLICAN

[3156 rows x 4 columns]

In [79]:
CityMaster = CityMaster.merge(poli, on="FIPS", how="outer")

In [80]:
CityMaster.shape

(3867, 78)

In [81]:
CityMaster

,FIPS,Unnamed: 0,STATE,COUNTY,YEAR,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,...,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,Annual_Precip,Annual_Snowfall,Winter_Temp,Summer_Temp,PresW_2012,PresW_2016,PresW_2020
0,00nan,74941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,01000,64693.0,NaN,NaN,NaN,NaN,1970.0,668874.851133,74805.0,2.807736e+06,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,01001,0.0,Alabama,Autauga County,2022.0,380219.20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,REPUBLICAN,REPUBLICAN,REPUBLICAN
3,01003,1.0,Alabama,Baldwin County,2022.0,1016235.68,0.0,693232.710801,90000.0,2.359147e+06,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,REPUBLICAN,REPUBLICAN,REPUBLICAN
4,01005,2.0,Alabama,Barbour County,2022.0,564523.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,DEMOCRAT,REPUBLICAN,REPUBLICAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3862,02038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEMOCRAT,DEMOCRAT,DEMOCRAT
3863,02039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEMOCRAT,DEMOCRAT,DEMOCRAT
3864,02040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEMOCRAT,DEMOCRAT,DEMOCRAT
3865,02099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEMOCRAT,DEMOCRAT,DEMOCRAT
3866,2938000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEMOCRAT,DEMOCRAT,DEMOCRAT

In [84]:
arwen = pd.read_csv("arwen_data_clean.csv")

In [85]:
arwen

,Unnamed: 0.1,FIPS,HS_Grad_num,HS_GRAD_RATE,MSA,violent_crime,murder_non-neg_manslaughter,rape,robbery,aggravated_assault,...,Num_Returns,adj_gross_income,total_income,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,YEAR
0,0,1001,619.0,78.125000,NaN,NaN,NaN,NaN,NaN,NaN,...,25720.0,1688218.0,1.700226e+06,8910.0,688.0,1804.0,303.0,8741.0,228794.0,2021.0
1,1,1003,2142.0,88.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,111140.0,9360157.0,9.458767e+06,80172.0,3321.0,19336.0,2038.0,58098.0,1359923.0,2021.0
2,2,1005,449.0,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,9740.0,448442.0,4.521740e+05,1776.0,127.0,518.0,87.0,1903.0,66115.0,2021.0
3,3,1007,216.0,89.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,8230.0,533851.0,5.365300e+05,2441.0,115.0,257.0,170.0,1770.0,87801.0,2021.0
4,4,1009,591.0,93.928571,NaN,NaN,NaN,NaN,NaN,NaN,...,24110.0,1380095.0,1.391042e+06,5979.0,262.0,1054.0,213.0,5285.0,188436.0,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3399,3399,53059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5530.0,608948.0,6.141600e+05,2375.0,528.0,2534.0,37.0,3414.0,94228.0,2021.0
3400,3400,53069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2120.0,147553.0,1.489040e+05,270.0,171.0,499.0,5.0,813.0,18128.0,2021.0
3401,3401,54000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,787980.0,47453369.0,4.782838e+07,341892.0,1113.0,59046.0,8466.0,197584.0,6975920.0,2021.0
3402,3402,55000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2937220.0,238572570.0,2.408000e+08,2470671.0,18681.0,1107389.0,15222.0,1504759.0,36327031.0,2021.0
3403,3403,56000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,282060.0,31737191.0,3.198415e+07,184550.0,20002.0,92343.0,9672.0,84323.0,5835040.0,2021.0

In [86]:
CityMaster = CityMaster.drop(columns={"HS_Grad_num", "HS_GRAD_RATE", "MSA", "violent_crime","murder_non-neg_manslaughter",
                                     "rape", "robbery", "aggravated_assault", "property_crime", "burglary", "larceny_theft",
                                     "motor_vehicle_theft", "YEAR_Crime", "Num_Hospitals", "Hospital overall rating", 
                                     "Num_Returns", "adj_gross_income", "total_income", "st_local_income_tax", 
                                     "st_local_gen_sales_tax", "realestate_tax", "personal_prop_tax", "total_taxes_paid", 
                                     "total_tax_payments_amt"})

In [87]:
arwen["FIPS"] = arwen["FIPS"].apply(lambda x: str(x).zfill(5))

In [89]:
CityMaster = CityMaster.merge(arwen, on="FIPS", how="outer")

In [90]:
CityMaster.shape

(3898, 83)

In [94]:
CityMaster = CityMaster.drop(columns={"Unnamed: 0_x", "STATE_x", "COUNTY_x", "YEAR_x"})
CityMaster = CityMaster.drop(columns={"YEAR_y"})

KeyError: "['YEAR_x', 'Unnamed: 0_x', 'STATE_x', 'COUNTY_x'] not found in axis"

In [95]:
CityMaster = CityMaster.drop(columns={"YEAR_y"})

In [97]:
CityMaster.to_csv("CityMaster1.2.csv")

In [10]:
first = pd.read_csv("CityMaster_1.1.csv", converters={'FIPS': str})
first.head()

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_35247/929701427.py:1: DtypeWarning: Columns (2,3,28,35,36,37,46,51,52,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  first = pd.read_csv("CityMaster_1.1.csv", converters={'FIPS': str})

,FIPS,STATE,COUNTY,YEAR,party,totalvotes,population,households,alltransit_performance_score
0,01001,Alabama,Autauga County,2022.0,NaN,NaN,NaN,NaN,NaN
1,01003,Alabama,Baldwin County,2022.0,NaN,NaN,NaN,NaN,NaN
2,01005,Alabama,Barbour County,2022.0,NaN,NaN,NaN,NaN,NaN
3,01007,Alabama,Bibb County,2022.0,NaN,NaN,NaN,NaN,NaN
4,01009,Alabama,Blount County,2022.0,NaN,NaN,NaN,NaN,NaN

In [47]:
two = first
two.drop(columns=["party", "totalvotes"])

In [20]:
copy = first

In [21]:
copy.head()

,Unnamed: 0,FIPS,STATE,COUNTY,YEAR,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,...,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,Annual_Precip,Annual_Snowfall,Winter_Temp,Summer_Temp
0,0,01001,Alabama,Autauga County,2022.0,380219.20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,1,01003,Alabama,Baldwin County,2022.0,1016235.68,0.0,693232.710801,90000.0,2.359147e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2,2,01005,Alabama,Barbour County,2022.0,564523.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,3,01007,Alabama,Bibb County,2022.0,397309.32,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4,4,01009,Alabama,Blount County,2022.0,411009.27,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [22]:
copy = copy.drop(columns=["party", "totalvotes"])

In [27]:
copy.where(copy.FIPS=="0100100")

,Unnamed: 0,FIPS,STATE,COUNTY,YEAR,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,...,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,Annual_Precip,Annual_Snowfall,Winter_Temp,Summer_Temp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
okay = copy.groupby("FIPS", as_index=False).max()

In [32]:
okay

,FIPS,Unnamed: 0,STATE,COUNTY,YEAR,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,...,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,Annual_Precip,Annual_Snowfall,Winter_Temp,Summer_Temp
0,,105152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,00nan,74941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2,01000,64693,NaN,NaN,NaN,NaN,1970.0,668874.851133,74805.0,2.807736e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,01001,0,Alabama,Autauga County,2022.0,380219.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4,0100100,75827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33483,9150,105810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26428.0,189.0,18035.0,1484.0,28376.0,517440.0,0.0,0.0,NaN,NaN
33484,9160,105811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,175669.0,411.0,47613.0,2310.0,51157.0,1180641.0,0.0,0.0,NaN,NaN
33485,9170,105812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,355871.0,2408.0,218239.0,13038.0,256955.0,4174653.0,0.0,0.0,NaN,NaN
33486,9180,105813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102317.0,941.0,70436.0,5894.0,99072.0,1675067.0,0.0,0.0,NaN,NaN
33487,9190,105814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3817597.0,5933.0,883926.0,26323.0,613254.0,22173508.0,0.0,0.0,NaN,NaN

In [33]:
okay.shape

(33488, 75)

In [34]:
a = list(okay.FIPS[2])
a[-1]

'0'

In [38]:
okay.drop(0, inplace=True).reset_index()

KeyError: '[0] not found in axis'

In [39]:
okay.reset_index()

,index,FIPS,Unnamed: 0,STATE,COUNTY,YEAR,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,...,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,Annual_Precip,Annual_Snowfall,Winter_Temp,Summer_Temp
0,1,00nan,74941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,2,01000,64693,NaN,NaN,NaN,NaN,1970.0,668874.851133,74805.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2,3,01001,0,Alabama,Autauga County,2022.0,380219.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,4,0100100,75827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4,5,0100124,75828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33482,33483,9150,105810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26428.0,189.0,18035.0,1484.0,28376.0,517440.0,0.0,0.0,NaN,NaN
33483,33484,9160,105811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,175669.0,411.0,47613.0,2310.0,51157.0,1180641.0,0.0,0.0,NaN,NaN
33484,33485,9170,105812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,355871.0,2408.0,218239.0,13038.0,256955.0,4174653.0,0.0,0.0,NaN,NaN
33485,33486,9180,105813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102317.0,941.0,70436.0,5894.0,99072.0,1675067.0,0.0,0.0,NaN,NaN
33486,33487,9190,105814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3817597.0,5933.0,883926.0,26323.0,613254.0,22173508.0,0.0,0.0,NaN,NaN

In [43]:
okay.FIPS[1]

'00nan'

In [44]:
for i in range(1,len(okay.FIPS)):
    x = list(okay.FIPS[i])
    if len(x) > 5:
        okay.drop(i,inplace=True)
    elif okay.City_Pop[i]:
        okay.drop(i,inplace=True)

In [55]:
df_ex = okay[(okay['FIPS'].apply(len) == 5) | (okay['City_Pop']>=65_000)]
df_ex.shape

(3826, 75)

In [45]:
okay.shape

(3467, 75)

In [46]:
okay

,FIPS,Unnamed: 0,STATE,COUNTY,YEAR,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,...,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,Annual_Precip,Annual_Snowfall,Winter_Temp,Summer_Temp
1,00nan,74941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN
3,01001,0,Alabama,Autauga County,2022.0,380219.20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN
6,01003,1,Alabama,Baldwin County,2022.0,1016235.68,0.0,693232.710801,90000.0,2.359147e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN
9,01005,2,Alabama,Barbour County,2022.0,564523.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN
11,01007,3,Alabama,Bibb County,2022.0,397309.32,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33471,9009,105475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.69,31.0,31.200000,71.200000
33473,9011,105476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,49.89,29.7,31.900000,70.033333
33475,9013,105477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,50.07,31.8,27.466667,68.366667
33477,9015,105478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,50.22,36.8,27.833333,68.366667
33487,9190,105814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3817597.0,5933.0,883926.0,26323.0,613254.0,22173508.0,0.00,0.0,NaN,NaN

In [12]:
attempt = first.drop(columns=["party", "totalvotes"])
attempt.head()

,Unnamed: 0,FIPS,STATE,COUNTY,YEAR,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,...,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,Annual_Precip,Annual_Snowfall,Winter_Temp,Summer_Temp
0,0,01001,Alabama,Autauga County,2022.0,380219.20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,1,01003,Alabama,Baldwin County,2022.0,1016235.68,0.0,693232.710801,90000.0,2.359147e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2,2,01005,Alabama,Barbour County,2022.0,564523.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,3,01007,Alabama,Bibb County,2022.0,397309.32,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4,4,01009,Alabama,Blount County,2022.0,411009.27,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [13]:
attempt.shape

(105815, 75)

KeyError: 'totalvotes'