In [1]:
import pandas as pd
import numpy as np

In [24]:
lg101 = pd.read_csv("local_gov101.csv")
lg101= lg101[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg102 = pd.read_csv("local_gov102.csv")
lg102 = lg102[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1011 = pd.read_csv("local_gov1011.csv")
lg1011= lg1011[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1012 = pd.read_csv("local_gov1012.csv")
lg1012= lg1012[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1013 = pd.read_csv("local_gov1013.csv")
lg1013= lg1013[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1021 = pd.read_csv("local_gov1021.csv")
lg1021= lg1021[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1022 = pd.read_csv("local_gov1022.csv")
lg1022= lg1022[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1023 = pd.read_csv("local_gov1023.csv")
lg1023= lg1023[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1024 = pd.read_csv("local_gov1024.csv")
lg1024= lg1024[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1025 = pd.read_csv("local_gov1025.csv")
lg1025= lg1025[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1026 = pd.read_csv("local_gov1026.csv")
lg1026= lg1026[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1027 = pd.read_csv("local_gov1027.csv")
lg1027= lg1027[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1028 = pd.read_csv("local_gov1028.csv")
lg1028= lg1028[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]
lg1029 = pd.read_csv("local_gov1029.csv")
lg1029= lg1029[["area_fips", "own_code", "industry_code", "agglvl_code", "year",
              "annual_avg_estabs", "annual_avg_emplvl", "total_annual_wages", 
              "annual_avg_wkly_wage", "avg_annual_pay"]]

In [30]:
lg101a = lg101.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg101b = lg101.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/935535032.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg101a = lg101.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/935535032.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg101b = lg101.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()

In [28]:
lg102a = lg102.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg102b = lg102.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/4131448539.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg102a = lg102.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/4131448539.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg102b = lg102.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()

In [31]:
lg101c = lg101a.join(lg101b)
lg102c = lg102a.join(lg102b)

In [25]:
lg1011a = lg1011.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1011b = lg1011.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1011c = lg1011a.join(lg1011b)

lg1012a = lg1012.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1012b = lg1012.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1012c = lg1012a.join(lg1012b)

lg1013a = lg1013.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1013b = lg1013.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1013c = lg1013a.join(lg1013b)

lg1021a = lg1021.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1021b = lg1021.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1021c = lg1021a.join(lg1021b)

lg1022a = lg1022.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1022b = lg1022.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1022c = lg1022a.join(lg1022b)

lg1023a = lg1023.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1023b = lg1023.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1023c = lg1023a.join(lg1023b)

lg1024a = lg1024.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1024b = lg1024.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1024c = lg1024a.join(lg1024b)

lg1025a = lg1025.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1025b = lg1025.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1025c = lg1025a.join(lg1025b)

lg1026a = lg1026.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1026b = lg1026.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1026c = lg1026a.join(lg1026b)

lg1027a = lg1027.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1027b = lg1027.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1027c = lg1027a.join(lg1027b)

lg1028a = lg1028.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1028b = lg1028.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1028c = lg1028a.join(lg1028b)

lg1029a = lg1029.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
                               "total_annual_wages"].sum()
lg1029b = lg1029.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
lg1029c = lg1029a.join(lg1021b)

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1011a = lg1011.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1011b = lg1011.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1012a = lg1012.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1012b = lg1012.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1013a = lg1013.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:13: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1013b = lg1013.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:16: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1021a = lg1021.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:18: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1021b = lg1021.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:21: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1022a = lg1022.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:23: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1022b = lg1022.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:26: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1023a = lg1023.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:28: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1023b = lg1023.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:31: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1024a = lg1024.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:33: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1024b = lg1024.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:36: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1025a = lg1025.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:38: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1025b = lg1025.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:41: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1026a = lg1026.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:43: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1026b = lg1026.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:46: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1027a = lg1027.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:48: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1027b = lg1027.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:51: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1028a = lg1028.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:53: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1028b = lg1028.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:56: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1029a = lg1029.groupby("area_fips")["annual_avg_estabs", "annual_avg_emplvl",
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/378605217.py:58: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lg1029b = lg1029.groupby("area_fips")["annual_avg_wkly_wage", "avg_annual_pay"].mean()

In [35]:
combo = lg102c.join(lg101c, lsuffix="_service", how="outer")
combo = lg1011c.join(combo, lsuffix="_mining", how="outer")
combo = lg1012c.join(combo, lsuffix="_construction", how="outer")
combo = lg1013c.join(combo, lsuffix="_manufacturing", how="outer")
combo = lg1021c.join(combo, lsuffix="_trade_transport_util", how="outer")
combo = lg1022c.join(combo, lsuffix="_information", how="outer")
combo = lg1023c.join(combo, lsuffix="_finance", how="outer")
combo = lg1024c.join(combo, lsuffix="_business", how="outer")
combo = lg1025c.join(combo, lsuffix="_education_health", how="outer")
combo = lg1026c.join(combo, lsuffix="_hospitality_leasure", how="outer")
combo = lg1027c.join(combo, lsuffix="_other", how="outer")
combo = lg1028c.join(combo, lsuffix="_publicadmin", how="outer")
combo = lg1029c.join(combo, lsuffix="_unclassified", how="outer")

In [36]:
combo

,annual_avg_estabs_unclassified,annual_avg_emplvl_unclassified,total_annual_wages_unclassified,annual_avg_wkly_wage_unclassified,avg_annual_pay_unclassified,annual_avg_estabs_publicadmin,annual_avg_emplvl_publicadmin,total_annual_wages_publicadmin,annual_avg_wkly_wage_publicadmin,avg_annual_pay_publicadmin,...,annual_avg_estabs_service,annual_avg_emplvl_service,total_annual_wages_service,annual_avg_wkly_wage_service,avg_annual_pay_service,annual_avg_estabs,annual_avg_emplvl,total_annual_wages,annual_avg_wkly_wage,avg_annual_pay
area_fips,,,,,,,,,,,,,,,,,,,,,
01000,14.0,2.0,8.426900e+04,1070.00,55640.0,2122.0,124588.0,8.043530e+09,1317.666667,68510.666667,...,128857,1635697,90113867629,1243.25,64648.00,20123,390405,26000633693,1230.0,63947.5
01001,NaN,NaN,NaN,NaN,NaN,21.0,799.0,3.834348e+07,1111.000000,57775.000000,...,859,9298,392010205,1011.25,52572.75,161,2238,145272025,1248.0,64916.0
01003,NaN,NaN,NaN,NaN,NaN,52.0,4253.0,2.165040e+08,1160.666667,60370.000000,...,6575,69940,3156958228,1010.00,52521.50,1192,10033,603282127,1156.0,60132.0
01005,NaN,NaN,NaN,NaN,NaN,27.0,783.0,3.575300e+07,1009.666667,52514.333333,...,498,5245,202749365,934.25,48581.00,85,2578,131258935,979.0,50913.0
01007,NaN,NaN,NaN,NaN,NaN,21.0,394.0,1.858931e+07,1100.666667,57233.000000,...,329,3359,139788021,989.75,51471.50,76,1477,94672767,1233.0,64098.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C4962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7447,115634,6081085733,1011.00,52589.00,1582,45054,3084974272,1317.0,68473.0
C4966,22.0,45.0,1.725009e+06,832.00,43276.0,NaN,NaN,NaN,NaN,NaN,...,10696,136660,5841107029,822.00,42742.00,1989,36110,2319202775,1235.0,64227.0
C4970,3.0,0.0,0.000000e+00,994.00,51686.0,NaN,NaN,NaN,NaN,NaN,...,4376,30684,1547486529,970.00,50434.00,1008,9890,554668060,1079.0,56084.0
C4974,109.0,191.0,7.024528e+06,905.00,47075.0,NaN,NaN,NaN,NaN,NaN,...,2842,38952,1854806078,916.00,47618.00,753,17384,783587813,867.0,45076.0
US000,346364.0,295426.0,2.205156e+10,1345.75,69990.5,138808.0,7413015.0,5.660474e+11,1560.333333,81121.333333,...,10084995,127505064,8782735490070,1422.75,73982.75,1434318,22520591,1717001545024,1391.0,72320.0

In [51]:
combo = combo.rename(columns={"area_fips":"FIPS", 
                      "avg_annual_pay":"avg_annual_pay_unclassifed_goodsproduction",
                     "annual_avg_wkly_wage":"annual_avg_wkly_wage_goodsproduction",
                     "total_annual_wages":"total_annual_wages_goodsproduction",
                      "annual_avg_emplvl":	"annual_avg_emplvl_goodsproduction",
                    "annual_avg_estab":"annual_avg_estab_goodsproduction"})

In [52]:
combo.to_csv("employment_capstone.csv")

In [53]:
employment = pd.read_csv("Cleaned Data/employment_capstone.csv")
taxes = pd.read_csv("Cleaned Data/taxes_capstone.csv")

In [54]:
employment["YEAR_employment"] = 2022

In [61]:
employment = employment.rename(columns={"area_fips":"FIPS"})
employment

,FIPS,annual_avg_estabs_unclassified,annual_avg_emplvl_unclassified,total_annual_wages_unclassified,annual_avg_wkly_wage_unclassified,avg_annual_pay_unclassified,annual_avg_estabs_publicadmin,annual_avg_emplvl_publicadmin,total_annual_wages_publicadmin,annual_avg_wkly_wage_publicadmin,...,annual_avg_emplvl_service,total_annual_wages_service,annual_avg_wkly_wage_service,avg_annual_pay_service,annual_avg_estabs,annual_avg_emplvl_goodsproduction,total_annual_wages_goodsproduction,annual_avg_wkly_wage_goodsproduction,avg_annual_pay_unclassifed_goodsproduction,YEAR_employment
0,01000,14.0,2.0,8.426900e+04,1070.00,55640.0,2122.0,124588.0,8.043530e+09,1317.666667,...,1635697,90113867629,1243.25,64648.00,20123,390405,26000633693,1230.0,63947.5,2022
1,01001,NaN,NaN,NaN,NaN,NaN,21.0,799.0,3.834348e+07,1111.000000,...,9298,392010205,1011.25,52572.75,161,2238,145272025,1248.0,64916.0,2022
2,01003,NaN,NaN,NaN,NaN,NaN,52.0,4253.0,2.165040e+08,1160.666667,...,69940,3156958228,1010.00,52521.50,1192,10033,603282127,1156.0,60132.0,2022
3,01005,NaN,NaN,NaN,NaN,NaN,27.0,783.0,3.575300e+07,1009.666667,...,5245,202749365,934.25,48581.00,85,2578,131258935,979.0,50913.0,2022
4,01007,NaN,NaN,NaN,NaN,NaN,21.0,394.0,1.858931e+07,1100.666667,...,3359,139788021,989.75,51471.50,76,1477,94672767,1233.0,64098.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3711,C4962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115634,6081085733,1011.00,52589.00,1582,45054,3084974272,1317.0,68473.0,2022
3712,C4966,22.0,45.0,1.725009e+06,832.00,43276.0,NaN,NaN,NaN,NaN,...,136660,5841107029,822.00,42742.00,1989,36110,2319202775,1235.0,64227.0,2022
3713,C4970,3.0,0.0,0.000000e+00,994.00,51686.0,NaN,NaN,NaN,NaN,...,30684,1547486529,970.00,50434.00,1008,9890,554668060,1079.0,56084.0,2022
3714,C4974,109.0,191.0,7.024528e+06,905.00,47075.0,NaN,NaN,NaN,NaN,...,38952,1854806078,916.00,47618.00,753,17384,783587813,867.0,45076.0,2022
3715,US000,346364.0,295426.0,2.205156e+10,1345.75,69990.5,138808.0,7413015.0,5.660474e+11,1560.333333,...,127505064,8782735490070,1422.75,73982.75,1434318,22520591,1717001545024,1391.0,72320.0,2022

In [64]:
employment.dtypes

FIPS                                           object
annual_avg_estabs_unclassified                float64
annual_avg_emplvl_unclassified                float64
total_annual_wages_unclassified               float64
annual_avg_wkly_wage_unclassified             float64
                                               ...
annual_avg_emplvl_goodsproduction               int64
total_annual_wages_goodsproduction              int64
annual_avg_wkly_wage_goodsproduction          float64
avg_annual_pay_unclassifed_goodsproduction    float64
YEAR_employment                                 int64
Length: 72, dtype: object

In [65]:
taxes.dtypes

Unnamed: 0                  int64
STATE                      object
COUNTY                     object
Num_Returns               float64
adj_gross_income          float64
total_income              float64
st_local_income_tax       float64
st_local_gen_sales_tax    float64
realestate_tax            float64
personal_prop_tax         float64
total_taxes_paid          float64
total_tax_payments_amt    float64
FIPS                       object
YEAR                        int64
dtype: object

In [57]:
taxes.FIPS = taxes.FIPS.astype("str")

In [58]:
def add_char(string, char, position): 
    # Convert the string to a list of characters 
    string_list = list(string) 
     
    # Insert the character at the specified position 
    string_list.insert(position, str(char)) 
    
    # Join the list back into a string 
    new_string = "".join(string_list)
     
    return new_string 

for i in range(len(taxes.FIPS)): 
    if len(taxes.FIPS[i]) != 5:
        
        taxes.FIPS[i] = add_char(taxes.FIPS[i],0,0)
        
    else: 
        taxes.FIPS[i] = taxes.FIPS[i]

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/3162042528.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taxes.FIPS[i] = add_char(taxes.FIPS[i],0,0)
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/3162042528.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taxes.FIPS[i] = taxes.FIPS[i]

In [59]:
taxes

,Unnamed: 0,STATE,COUNTY,Num_Returns,adj_gross_income,total_income,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,FIPS,YEAR
0,0,AL,Alabama,2162210.0,154268214.0,1.555913e+08,1357554.0,45611.0,334941.0,46903.0,974173.0,24008761.0,01000,2021
1,1,AL,Autauga County,25720.0,1688218.0,1.700226e+06,8910.0,688.0,1804.0,303.0,8741.0,228794.0,01001,2021
2,2,AL,Baldwin County,111140.0,9360157.0,9.458767e+06,80172.0,3321.0,19336.0,2038.0,58098.0,1359923.0,01003,2021
3,3,AL,Barbour County,9740.0,448442.0,4.521740e+05,1776.0,127.0,518.0,87.0,1903.0,66115.0,01005,2021
4,4,AL,Bibb County,8230.0,533851.0,5.365300e+05,2441.0,115.0,257.0,170.0,1770.0,87801.0,01007,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,3189,WY,Sweetwater County,19530.0,1427418.0,1.434327e+06,385.0,1007.0,2176.0,725.0,3779.0,205811.0,56037,2021
3190,3190,WY,Teton County,14860.0,9561613.0,9.622477e+06,131000.0,6024.0,50928.0,1461.0,21604.0,2360933.0,56039,2021
3191,3191,WY,Uinta County,9350.0,673690.0,6.776150e+05,454.0,500.0,1019.0,318.0,2116.0,96917.0,56041,2021
3192,3192,WY,Washakie County,3790.0,263135.0,2.651970e+05,0.0,94.0,226.0,48.0,451.0,30352.0,56043,2021
3193,3193,WY,Weston County,3190.0,215820.0,2.177600e+05,0.0,121.0,266.0,48.0,481.0,29691.0,56045,2021

In [71]:
employment

,FIPS,annual_avg_estabs_unclassified,annual_avg_emplvl_unclassified,total_annual_wages_unclassified,annual_avg_wkly_wage_unclassified,avg_annual_pay_unclassified,annual_avg_estabs_publicadmin,annual_avg_emplvl_publicadmin,total_annual_wages_publicadmin,annual_avg_wkly_wage_publicadmin,...,annual_avg_emplvl_service,total_annual_wages_service,annual_avg_wkly_wage_service,avg_annual_pay_service,annual_avg_estabs,annual_avg_emplvl_goodsproduction,total_annual_wages_goodsproduction,annual_avg_wkly_wage_goodsproduction,avg_annual_pay_unclassifed_goodsproduction,YEAR_employment
0,01000,14.0,2.0,8.426900e+04,1070.00,55640.0,2122.0,124588.0,8.043530e+09,1317.666667,...,1635697,90113867629,1243.25,64648.00,20123,390405,26000633693,1230.0,63947.5,2022
1,01001,NaN,NaN,NaN,NaN,NaN,21.0,799.0,3.834348e+07,1111.000000,...,9298,392010205,1011.25,52572.75,161,2238,145272025,1248.0,64916.0,2022
2,01003,NaN,NaN,NaN,NaN,NaN,52.0,4253.0,2.165040e+08,1160.666667,...,69940,3156958228,1010.00,52521.50,1192,10033,603282127,1156.0,60132.0,2022
3,01005,NaN,NaN,NaN,NaN,NaN,27.0,783.0,3.575300e+07,1009.666667,...,5245,202749365,934.25,48581.00,85,2578,131258935,979.0,50913.0,2022
4,01007,NaN,NaN,NaN,NaN,NaN,21.0,394.0,1.858931e+07,1100.666667,...,3359,139788021,989.75,51471.50,76,1477,94672767,1233.0,64098.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3711,C4962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115634,6081085733,1011.00,52589.00,1582,45054,3084974272,1317.0,68473.0,2022
3712,C4966,22.0,45.0,1.725009e+06,832.00,43276.0,NaN,NaN,NaN,NaN,...,136660,5841107029,822.00,42742.00,1989,36110,2319202775,1235.0,64227.0,2022
3713,C4970,3.0,0.0,0.000000e+00,994.00,51686.0,NaN,NaN,NaN,NaN,...,30684,1547486529,970.00,50434.00,1008,9890,554668060,1079.0,56084.0,2022
3714,C4974,109.0,191.0,7.024528e+06,905.00,47075.0,NaN,NaN,NaN,NaN,...,38952,1854806078,916.00,47618.00,753,17384,783587813,867.0,45076.0,2022
3715,US000,346364.0,295426.0,2.205156e+10,1345.75,69990.5,138808.0,7413015.0,5.660474e+11,1560.333333,...,127505064,8782735490070,1422.75,73982.75,1434318,22520591,1717001545024,1391.0,72320.0,2022

In [74]:
taxes = taxes.rename(columns={"YEAR": "YEAR_taxes"})

In [68]:
taxes.FIPS = taxes.FIPS.astype("str")
employment.FIPS = employment.FIPS.astype("str")

In [75]:
comb = taxes.merge(employment, on="FIPS", how="outer")
comb

,Unnamed: 0,STATE,COUNTY,Num_Returns,adj_gross_income,total_income,st_local_income_tax,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,...,annual_avg_emplvl_service,total_annual_wages_service,annual_avg_wkly_wage_service,avg_annual_pay_service,annual_avg_estabs,annual_avg_emplvl_goodsproduction,total_annual_wages_goodsproduction,annual_avg_wkly_wage_goodsproduction,avg_annual_pay_unclassifed_goodsproduction,YEAR_employment
0,0.0,AL,Alabama,2162210.0,154268214.0,1.555913e+08,1357554.0,45611.0,334941.0,46903.0,...,1635697.0,9.011387e+10,1243.25,64648.00,20123.0,390405.0,2.600063e+10,1230.0,63947.5,2022.0
1,1.0,AL,Autauga County,25720.0,1688218.0,1.700226e+06,8910.0,688.0,1804.0,303.0,...,9298.0,3.920102e+08,1011.25,52572.75,161.0,2238.0,1.452720e+08,1248.0,64916.0,2022.0
2,2.0,AL,Baldwin County,111140.0,9360157.0,9.458767e+06,80172.0,3321.0,19336.0,2038.0,...,69940.0,3.156958e+09,1010.00,52521.50,1192.0,10033.0,6.032821e+08,1156.0,60132.0,2022.0
3,3.0,AL,Barbour County,9740.0,448442.0,4.521740e+05,1776.0,127.0,518.0,87.0,...,5245.0,2.027494e+08,934.25,48581.00,85.0,2578.0,1.312589e+08,979.0,50913.0,2022.0
4,4.0,AL,Bibb County,8230.0,533851.0,5.365300e+05,2441.0,115.0,257.0,170.0,...,3359.0,1.397880e+08,989.75,51471.50,76.0,1477.0,9.467277e+07,1233.0,64098.0,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115634.0,6.081086e+09,1011.00,52589.00,1582.0,45054.0,3.084974e+09,1317.0,68473.0,2022.0
3721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136660.0,5.841107e+09,822.00,42742.00,1989.0,36110.0,2.319203e+09,1235.0,64227.0,2022.0
3722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30684.0,1.547487e+09,970.00,50434.00,1008.0,9890.0,5.546681e+08,1079.0,56084.0,2022.0
3723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38952.0,1.854806e+09,916.00,47618.00,753.0,17384.0,7.835878e+08,867.0,45076.0,2022.0
3724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,127505064.0,8.782735e+12,1422.75,73982.75,1434318.0,22520591.0,1.717002e+12,1391.0,72320.0,2022.0

In [76]:
comb.to_csv("combined_unfinished.csv")

In [96]:
school = pd.read_csv("acgr-sch-sy2020-21-long.csv")
school

,SCHOOL_YEAR,STNAM,FIPST,LEAID,ST_LEAID,LEANM,NCESSCH,ST_SCHID,SCHNAM,CATEGORY,COHORT,RATE,DATE_CUR
0,2020-2021,ALABAMA,1,100005,AL-101,Albertville City,10000500871,AL-101-0020,Albertville High School,ALL,385,93,25MAY22
1,2020-2021,ALABAMA,1,100005,AL-101,Albertville City,10000500871,AL-101-0020,Albertville High School,CWD,20,60-79,25MAY22
2,2020-2021,ALABAMA,1,100005,AL-101,Albertville City,10000500871,AL-101-0020,Albertville High School,ECD,174,90-94,25MAY22
3,2020-2021,ALABAMA,1,100005,AL-101,Albertville City,10000500871,AL-101-0020,Albertville High School,HOM,2,PS,25MAY22
4,2020-2021,ALABAMA,1,100005,AL-101,Albertville City,10000500871,AL-101-0020,Albertville High School,LEP,57,80-89,25MAY22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190909,2020-2021,PUERTO RICO,72,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,720003002085,PR-01-75267,JUAN QUIRINDONGO MORELL (SUPERIOR),ALL,147,55-59,25MAY22
190910,2020-2021,PUERTO RICO,72,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,720003002085,PR-01-75267,JUAN QUIRINDONGO MORELL (SUPERIOR),CWD,40,40-49,25MAY22
190911,2020-2021,PUERTO RICO,72,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,720003002085,PR-01-75267,JUAN QUIRINDONGO MORELL (SUPERIOR),ECD,128,55-59,25MAY22
190912,2020-2021,PUERTO RICO,72,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,720003002085,PR-01-75267,JUAN QUIRINDONGO MORELL (SUPERIOR),HOM,1,PS,25MAY22
190913,2020-2021,PUERTO RICO,72,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,720003002085,PR-01-75267,JUAN QUIRINDONGO MORELL (SUPERIOR),MHI,147,55-59,25MAY22

In [97]:
small = school.loc[school['CATEGORY'] == "ALL"]
small = small[["SCHOOL_YEAR", "STNAM", "LEANM", "COHORT", "RATE", "DATE_CUR"]]
small

,SCHOOL_YEAR,STNAM,LEANM,COHORT,RATE,DATE_CUR
0,2020-2021,ALABAMA,Albertville City,385,93,25MAY22
11,2020-2021,ALABAMA,Marshall County,83,85-89,25MAY22
19,2020-2021,ALABAMA,Marshall County,137,85-89,25MAY22
29,2020-2021,ALABAMA,Marshall County,104,GE95,25MAY22
36,2020-2021,ALABAMA,Marshall County,78,90-94,25MAY22
...,...,...,...,...,...,...
190887,2020-2021,PUERTO RICO,PUERTO RICO DEPARTMENT OF EDUCATION,47,80-89,25MAY22
190892,2020-2021,PUERTO RICO,PUERTO RICO DEPARTMENT OF EDUCATION,164,70-74,25MAY22
190898,2020-2021,PUERTO RICO,PUERTO RICO DEPARTMENT OF EDUCATION,89,50-54,25MAY22
190904,2020-2021,PUERTO RICO,PUERTO RICO DEPARTMENT OF EDUCATION,110,75-79,25MAY22
190909,2020-2021,PUERTO RICO,PUERTO RICO DEPARTMENT OF EDUCATION,147,55-59,25MAY22

In [82]:
small.to_csv("graduation_capstone.csv")

In [83]:
hosp = pd.read_csv("Cleaned Data/hospital_capstone.csv")
converter = pd.read_csv("ZIP-COUNTY-FIPS_2017-06.csv")

In [86]:
hosp["c"] = hosp["STATE"] + hosp["COUNTY"]
hosp

,Unnamed: 0,CITY,STATE,ZIP Code,COUNTY,Emergency Services,c
0,0,DOTHAN,AL,36301,HOUSTON County,Yes,ALHOUSTON County
1,1,BOAZ,AL,35957,MARSHALL County,Yes,ALMARSHALL County
2,2,FLORENCE,AL,35630,LAUDERDALE County,Yes,ALLAUDERDALE County
3,3,OPP,AL,36467,COVINGTON County,Yes,ALCOVINGTON County
4,4,LUVERNE,AL,36049,CRENSHAW County,Yes,ALCRENSHAW County
...,...,...,...,...,...,...,...
5420,5420,MIDLOTHIAN,TX,76065,ELLIS County,Yes,TXELLIS County
5421,5421,MANSFIELD,TX,76063,TARRANT County,Yes,TXTARRANT County
5422,5422,HUMBLE,TX,77338,HARRIS County,No,TXHARRIS County
5423,5423,SUGAR LAND,TX,77479,FORT BEND County,Yes,TXFORT BEND County
5424,5424,SACHSE,TX,75048,DALLAS County,Yes,TXDALLAS County

In [89]:
for i in range(len(hosp.c)):
    hosp.c[i]=hosp.c[i].lower()
    
hosp

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/3200893659.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hosp.c[i]=hosp.c[i].lower()

,Unnamed: 0,CITY,STATE,ZIP Code,COUNTY,Emergency Services,c
0,0,DOTHAN,AL,36301,HOUSTON County,Yes,alhouston county
1,1,BOAZ,AL,35957,MARSHALL County,Yes,almarshall county
2,2,FLORENCE,AL,35630,LAUDERDALE County,Yes,allauderdale county
3,3,OPP,AL,36467,COVINGTON County,Yes,alcovington county
4,4,LUVERNE,AL,36049,CRENSHAW County,Yes,alcrenshaw county
...,...,...,...,...,...,...,...
5420,5420,MIDLOTHIAN,TX,76065,ELLIS County,Yes,txellis county
5421,5421,MANSFIELD,TX,76063,TARRANT County,Yes,txtarrant county
5422,5422,HUMBLE,TX,77338,HARRIS County,No,txharris county
5423,5423,SUGAR LAND,TX,77479,FORT BEND County,Yes,txfort bend county
5424,5424,SACHSE,TX,75048,DALLAS County,Yes,txdallas county

In [90]:
converter["c"] = converter["STATE"] + converter["COUNTYNAME"]
converter = converter.groupby("COUNTYNAME")

         ZIP         COUNTYNAME STATE  STCOUNTYFP CLASSFP                    c
0      36003     Autauga County    AL        1001      H1     ALAutauga County
1      36006     Autauga County    AL        1001      H1     ALAutauga County
2      36067     Autauga County    AL        1001      H1     ALAutauga County
3      36066     Autauga County    AL        1001      H1     ALAutauga County
4      36703     Autauga County    AL        1001      H1     ALAutauga County
...      ...                ...   ...         ...     ...                  ...
52884    850   St. Croix Island    VI       78010      H4   VISt. Croix Island
52885    840   St. Croix Island    VI       78010      H4   VISt. Croix Island
52886    820   St. Croix Island    VI       78010      H4   VISt. Croix Island
52887    830    St. John Island    VI       78020      H4    VISt. John Island
52888    802  St. Thomas Island    VI       78030      H4  VISt. Thomas Island

[52889 rows x 6 columns]

In [91]:
for i in range(len(converter.c)):
    converter.c[i]=converter.c[i].lower()
    
converter

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_61737/2653157441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  converter.c[i]=converter.c[i].lower()

         ZIP         COUNTYNAME STATE  STCOUNTYFP CLASSFP                    c
0      36003     Autauga County    AL        1001      H1     alautauga county
1      36006     Autauga County    AL        1001      H1     alautauga county
2      36067     Autauga County    AL        1001      H1     alautauga county
3      36066     Autauga County    AL        1001      H1     alautauga county
4      36703     Autauga County    AL        1001      H1     alautauga county
...      ...                ...   ...         ...     ...                  ...
52884    850   St. Croix Island    VI       78010      H4   vist. croix island
52885    840   St. Croix Island    VI       78010      H4   vist. croix island
52886    820   St. Croix Island    VI       78010      H4   vist. croix island
52887    830    St. John Island    VI       78020      H4    vist. john island
52888    802  St. Thomas Island    VI       78030      H4  vist. thomas island

[52889 rows x 6 columns]

In [95]:
co = converter.merge(hosp, on="c", how="right")
co

,ZIP,COUNTYNAME,STATE_x,STCOUNTYFP,CLASSFP,c,Unnamed: 0,CITY,STATE_y,ZIP Code,COUNTY,Emergency Services
0,36305.0,Houston County,AL,1069.0,H1,alhouston county,0,DOTHAN,AL,36301,HOUSTON County,Yes
1,36345.0,Houston County,AL,1069.0,H1,alhouston county,0,DOTHAN,AL,36301,HOUSTON County,Yes
2,36321.0,Houston County,AL,1069.0,H1,alhouston county,0,DOTHAN,AL,36301,HOUSTON County,Yes
3,36301.0,Houston County,AL,1069.0,H1,alhouston county,0,DOTHAN,AL,36301,HOUSTON County,Yes
4,36352.0,Houston County,AL,1069.0,H1,alhouston county,0,DOTHAN,AL,36301,HOUSTON County,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
251202,75007.0,Dallas County,TX,48113.0,H1,txdallas county,5424,SACHSE,TX,75048,DALLAS County,Yes
251203,75371.0,Dallas County,TX,48113.0,H1,txdallas county,5424,SACHSE,TX,75048,DALLAS County,Yes
251204,75123.0,Dallas County,TX,48113.0,H1,txdallas county,5424,SACHSE,TX,75048,DALLAS County,Yes
251205,75185.0,Dallas County,TX,48113.0,H1,txdallas county,5424,SACHSE,TX,75048,DALLAS County,Yes
251206,75067.0,Dallas County,TX,48113.0,H1,txdallas county,5424,SACHSE,TX,75048,DALLAS County,Yes

In [ ]:
school = pd.read_csv("acgr-sch-sy2020-21-long.csv")
small = school.loc[school['CATEGORY'] == "ALL"]
small = small[["SCHOOL_YEAR", "STNAM", "LEANM", "COHORT", "RATE", "DATE_CUR"]]
small
test = small
len(test.RATE[0])
a = test.RATE.value_counts()
a.head(20)
test = test[test.RATE != "PS"]

test.RATE.value_counts().head(20)

In [ ]:


for i in range(len(test.RATE)):
    
    v = list(str(test.RATE[i]))
    if len(v) == 1:
        test.RATE[i] = int(test.RATE[i])
    elif len(v) == 2:
        test.RATE[i] = int(test.RATE[i])
    elif len(v) == 3:
        v = v[-1]
        v = "".join(v)
        test.RATE[i] = int(v)
    elif len(v) == 4:
        v = v[-2:]
        v = "".join(v)
        test.RATE[i] = int(v)
    elif len(v) == 5:
        math = test.RATE[i].split("-")
        math[0] = int(math[0])
        math[1] = int(math[1])
        math = sum(math)/len(math)
        test.RATE[i] = math
        
test

n = 5
mylist = [1,2,3,4,5,6,7,8,9]
newlist = mylist[n:]
[6, 7, 8, 9]

a = "56-80"
b = a.split("-")
b[0] = int(b[0])
b[1] = int(b[1])
sum(b)/len(b)

b = [6, 7, 8, 9]
b[-2:]